@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  svg
    path
      fill none
      stroke #6
      stroke-width 1
      &:nth-child(1)
        stroke #d9d9d9
      &:nth-child(2)
        stroke #bdbdbd
      &:nth-child(3)
        stroke #969696
      &:nth-child(4)
        stroke #737373
      &:nth-child(5)
        stroke #525252
    .foreground
      path
        stroke ColorRed
        stroke-width 2
      text
        font-weight 500
        font-size 12px
        fill darken(ColorRed, 20%)
    .axis
      line
        shape-rendering crispEdges
        stroke #a
      text
        font-size 11px
        fill #6

  .sidebar
    width 330px
    background #e
    position absolute
    top 0px
    left 660px
    height 440px
    padding 10px 10px
    border-left 1px solid #c
    h2
      color ColorRed
      font-size 20px
      margin 5px 0px 10px 0px
    .arrow
      position relative
      height 20px
      a
        position absolute
        top 0px
        color #4
        &:first-child
          left 0px
        &:last-child
          right 0px
        &:hover
          text-decoration none
    svg
      position absolute
      bottom 20px
      left 70px

      path
        stroke darken(ColorBlue, 50%)
      g.jump
        circle
          stroke ColorBlue
          fill white

        &.hover circle
          fill lighten(ColorRed, 80%)
          // stroke lighten(ColorRed, 50%)
        &.active circle
          fill ColorRed
          stroke darken(ColorRed, 30%)

      g.voronoi
        path
          stroke none
          fill transparent
          cursor pointer
